/* Reset some default browser styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Background color */
body {
    background-color: #1D1E23;
    color: #EAEAEA;
}

section {
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

/* Main header with a subtle shadow */
h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
    background-color: #3A8DFF;
    color: #EAEAEA;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

a, h2, h3, h4, h5, h6 {
    color: #3A8DFF; /* Blue Highlight */
}

.secondary-text {
    color: #B0B0B0; /* Secondary Text */
}

/* Hero section styling */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    height: 100vh;
}

.hero h1 {
    font-size: 3rem;
    margin: 20px 0;
}

.hero p {
    font-size: 1.5rem;
}

/* Navigation button styling */
.nav-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #FF7043; /* Orange Accent */
    color: white;
    padding: 10px;
    width: 50px; /* Updated width to match height */
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.25s ease;
    z-index: 1000;
}

/* Navigation menu styling */
#nav-menu {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: white;
    color: #333;
    padding: 10px;
    text-align: center;
    display: none;
    width: 200px;
    height: auto; /* Adjusts automatically */
    z-index: 1000;
}

#nav-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

#nav-menu a:hover {
    text-decoration: underline;
}

/* About section styling */
.about-section {
    min-height: 100vh; /* Minimum height of the viewport */
    padding: 20px 10%;
    background-color: #1D1E23;
    color: #EAEAEA;
    position: relative;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3A8DFF; /* Blue Highlight for the title box */
    color: #EAEAEA;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.about-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 600px;
}

.about-section .about-image {
    display: block; /* Display the image as a block element */
    margin: 0 auto; /* Center the image horizontally */
    max-height: calc(100vh - 200px); /* Adjust the height based on the viewport height */
    width: auto; /* Keep the original aspect ratio */
    max-width: 100%; /* Ensure the image does not exceed the section width */
}

/* Content styling */
section {
    padding: 20px;
    line-height: 1.6;
}

/* Iframe styling for the resume */
iframe {
    border: none;
}

/* Project section styling */
.projects-section {
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

.projects-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FF7043; 
    color: #EAEAEA;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    max-width: fit-content; 
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)); /* Columns with a minimum width of 200px */
    grid-template-rows: 300px; /* Fixed height for each row */
    gap: 10px 5px; /* 15px vertical and 10px horizontal spacing */
}

.project {
    width: 400; /* Fixed width for each project */
    height: auto;
    text-align: center;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
}

.image-container {
    width: 100%; /* Full width of the parent container */
    height: 200px; /* Fixed height */
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.project:hover .overlay {
    background-color: rgba(128, 128, 128, 0.7);
}

.project .overlay p {
    color: #EAEAEA;
    font-size: 16px;
    opacity: 0;
    transition: .5s ease;
}

.project:hover .overlay p {
    opacity: 1;
}

.project a {
    color: #EAEAEA; /* Set the text color to white */
    text-decoration: none; /* Remove the underline */
}

.project h3 {
    color: #EAEAEA; /* Set the text color to white */
}

.about-section, .projects-section, .contact-section {
    padding: 20px 10%; /* Adjust the padding as needed */
    height: 100vh;
}

.projects-section {
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3A8DFF; 
    color: #EAEAEA;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    max-width: fit-content; 
}