body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1D1E23;
    color: #EAEAEA;
}

section {
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 20px;
    background-color: #3A8DFF;
    color: #EAEAEA;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

a, h2, h3, h4, h5, h6 {
    color: #3A8DFF;
}

.secondary-text {
    color: #B0B0B0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    height: 100vh;
}

.hero h1 {
    font-size: 3rem;
    margin: 20px 0;
}

.hero p {
    font-size: 1.5rem;
}

.nav-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #FF7043;
    color: white;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.25s ease;
    z-index: 1000;
}

#nav-menu {
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: white;
    color: #333;
    padding: 10px;
    text-align: center;
    display: none;
    width: 200px;
    height: auto;
    z-index: 1000;
}

#nav-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

#nav-menu a:hover {
    text-decoration: underline;
}

.about-section {
    min-height: 100vh;
    padding: 20px 10%;
    background-color: #1D1E23;
    color: #EAEAEA;
    position: relative;
}

.about-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3A8DFF;
    color: #EAEAEA;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    max-width: fit-content; 
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    
}

.about-section .about-image {
    display: block;
    margin: 0 auto;
    max-height: calc(100vh - 200px);
    width: auto;
    max-width: 100%;
}

section {
    padding: 20px;
    line-height: 1.6;
}

.projects-section {
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

.projects-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #FF7043; 
    color: #EAEAEA;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    max-width: fit-content; 
}
.projects-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;  
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-template-rows: 300px;
    gap: 10px 5px;
}

.project {
    width: 400;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
}

.image-container {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project:hover .overlay {
    background-color: rgba(128, 128, 128, 0.7);
}

.project .overlay p {
    color: #EAEAEA;
    font-size: 16px;
    opacity: 0;
    transition: .5s ease;
}

.project:hover .overlay p {
    opacity: 1;
}

.project a {
    color: #EAEAEA;
    text-decoration: none;
}

.project h3 {
    color: #EAEAEA;
}

.about-section, .projects-section, .contact-section {
    padding: 20px 10%;
    min-height: 100vh;
    height: auto;
}


.projects-section {
    margin-bottom: 20px;
}

.contact-section {
    padding: 20px 10%;
    text-align: center; 
    background-color: #1D1E23;
    color: #EAEAEA; 
    position: relative;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #3A8DFF;
    color: #EAEAEA;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    max-width: fit-content; 
}

.contact-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;  
}

.contact-icons a {
    margin: 0 10px;
}

.contact-icons img {
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.contact-icons img:hover {
    transform: scale(1.1);
}

.project-description {
    margin: 0 auto;
    max-width: 60%;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}

.project-header {
    background-color: #FF7043;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px auto;
    max-width: fit-content;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.project-page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.project-page-entry {
    max-width: 60%;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin: 10px 375px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.back-to-home {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: #FF7043;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.back-to-home::before {
    content: '\2190';
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.entry-page-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.entry-description {
    margin: 0 auto;
    max-width: 60%;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.entry-header {
    color: #3A8DFF;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold; 
    margin: 60px auto;
}

.entry-description.date {
    margin-bottom: 30px;
}

.image-container {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.entry-image {
    max-width: 40%;
    height: auto;
}
